@model MVCDotNet.Models.Category
@{
    ViewData["Title"] = "Create";
}


<div>
    <form method="post">
        <div class="border p-3 mt-4 ">
            <div class="row pb-2 ">
                <h2 class="text-white">Create Category</h2>
                <hr/>
            </div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" type="text" class="form-control"/>
            </div>
            <div class="mb-3">
                <label asp-for="Displayorder" class="form-label">Display Order</label>
                <input asp-for="Displayorder" type="text" class="form-control"/>
            </div>
            <button class="btn btn-primary">Create</button>
            <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width: 150px">Back to List</a>
        </div>
    </form>
</div>